body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(fondo.jpg);
}

header {
    background-color: #673ab7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.parcial {
    background-color: #ffffffb4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.parcial h2 {
    margin-top: 0;
    color: #673ab7;
}

.parcial p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: #673ab7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #5e35b1;
}

footer {
    background-color: #673ab7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
